.grid{
    width: 560px;
    height: 560px;
    border: solid palevioletred;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.white{
    background-color: white;
}

.muro{
    background-image: url(./img/muros.jpeg);
    background-size: cover;
}

.darkgray{
    background-color:darkgray;
}
.rosa{
    background-image: url(./img/rosa.png);
    background-size: cover;
}

.petalos{
    background-image: url(./img/petalos.png);
    background-size: cover;
}

.libro{
    background-image: url(./img/libro.jpg);
    background-size: cover;
}


.princep{
    background-image: url(./img/principe.png);
    background-size: cover
}

.drac-azul{
    background-image: url(./img/dragon\ azul\ derecha.png);
    background-size: cover;
}

.drac-taronja{
    background-image: url(./img/dragon\ naranja\ izquierda.png);
    background-size: cover;
}

.drac-vermell{
    content: url(./img/Dragon\ rojo\ izquierda.png);
    background-size: cover;
}

.drac-verd{
    background-image: url(./img/Dragon\ verde\ izquierda.png);
    background-size: cover;
}

.drac-espantat{
    background-image: url(./img/fuegooo.png);
}


