.grid{
    width: 560px;
    height: 560px;
    border: solid palevioletred;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 20px;
    height: 20px;
}

.rgb{
    background-color: rgb(194, 129, 188);
}

.white{
    background-color: white;
}
.green{
    background-color: green;
}
.pink{
    background-image: url(./img/rosa.png);
}

.black{
    background-color: black;
}






